.Wrapper {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.Header {
  border: 2px solid orange;
}

.Sidenav {
  display: none;
}

.Content {
  border: 2px solid blue;
}

@media (min-width: 768px) {
  .Wrapper {
    grid-template-columns: auto 1fr;
    grid-template-rows: none;
  }
  .Sidenav {
    display: block;
    border: 2px solid green;
  }
  .Header {
    display: none;
  }
}