.Container {
  background-color: rgb(238, 238, 238);
}

.Grid__Container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(3, 100px); */
  gap: 10px;
  padding: 1rem;
}

.Card {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
}